<div class="card mx-auto">
    <div class="card align-center" style="margin: 1%;">
        <div class="card-body">
            <h4 class="card-title  align-center">
                <div id="mydivheader" class="align-center d-flex justify-content-center">{{topic.title}}</div>
            </h4>
            <p class="d-flex justify-content-right"> {{topic.description}}</p>

        </div>
        <div class="card-footer">
            <div class="d-flex  align-items-center bd-highlight">
                <div class="p-2 mr-auto bd-highlight">
                    <span id="likes" data-id="{{topic._id}}">{{topic.likes}}</span>
                    <button class="btn btn-light" id="btn-like" data-id="{{topic._id}}">
                        <i class="fas fa-thumbs-up"></i>
                    </button>


                </div>
                <div class="p-2 mr-auto bd-highlight ">
                    <span id="dislikes" data-id="{{topic._id}}">{{topic.dislikes}}</span>
                    <button class="btn btn-light" id="btn-dislike" data-id="{{topic._id}}">
                        <i class="fas fa-thumbs-down "></i>
                    </button>


                </div>

                <div class="p-2 ml-auto bd-highlight ">
                    <i class="fas fa-eye d-flex justify-content-left"> <span>{{topic.views}}</span> </i>
                </div>

            </div>

        </div>
        <div class="card" style="margin: 1%;">
            <blockquote>
                <form action="/foro/new-comment/{{topic._id}}/{{topic._id}}" method="POST">
                    <div class="form-group">
                        <textarea name="comentario" class="form-control " wrap="hard" cols="2"
                            placeholder="Ingrese un comentario"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-secondary btn-success" type="submit">Comentar</button>
                    </div>
                </form>
            </blockquote>
        </div>
    </div>
</div>



{{#each tot_comment}}
<div class="card mt-3 mx-auto ">
    <div class="card-header">
        <div class="card">
            <div class="card-header">
                <div class="mx-auto d-flex  align-items-center bd-highlight">
                    <div class="p-2 flex-fill bd-highlight">
                        <i class="fas fa-user"></i> Anonimo {{pri_comment.user}}
                    </div>
                    <div class="p-2 ml-auto bd-highlight">

                        <div id="btn-delete" data-user="{{pri_comment.user}}" data-user2="{{../userid}}">
                            <div class="dropdown">
                                <a class="btn btn-light " href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item " href="/comment/edit/{{../topic._id}}/{{pri_comment._id}}">
                                        Editar <i class="fas fa-edit"></i> </a>
                                    <a class="dropdown-item " href="#">
                                        <form
                                            action="/comment/delete/{{../topic._id}}/{{pri_comment._id}}?_method=DELETE"
                                            method="POST">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button class="btn btn-light" type="submit">Eliminar <i
                                                    class="fas fa-trash-alt"></i></button>
                                        </form>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>{{pri_comment.comentario}}</p>
            </div>
            <div class="card-footer">
                <div class="d-flex  align-items-center bd-highlight">
                    <div class="p-2 mr-auto bd-highlight">
                        <span id="likes" data-id="{{pri_comment._id}}">{{pri_comment.likes}}</span>
                        <button class="btn btn-light" id="btn-like" data-id="{{pri_comment._id}}"
                            data-topic="{{../topic._id}}">
                            <i class="fas fa-thumbs-up"></i>
                        </button>


                    </div>
                    <div class="p-2 mr-auto bd-highlight ">
                        <span id="dislikes" data-id="{{pri_comment._id}}">{{pri_comment.dislikes}}</span>
                        <button class="btn btn-light" id="btn-dislike" data-id="{{pri_comment._id}}"
                            data-topic="{{../topic._id}}">
                            <i class="fas fa-thumbs-down "></i>
                        </button>


                    </div>

                    <div class="p-2 ml-auto bd-highlight ">
                        <i class="far fa-clock"></i>
                        {{timeago pri_comment.date}}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ul class="list-group">
            {{#each sub_comment}}
            <li class="list-group-item">
                <div class="card">
                    <div class="card-header">
                        <div class="mx-auto d-flex  align-items-center bd-highlight">
                            <div class="p-2 flex-fill bd-highlight">
                                <i class="fas fa-user"></i> Anonimo {{user}}
                            </div>

                            <div class="p-2 ml-auto bd-highlight">

                                <div id="btn-delete" data-user="{{user}}" data-user2="{{../../userid}}">
                                    <div class="dropdown">
                                        <a class="btn btn-light " href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item " href="/comment/edit/{{../../topic._id}}/{{_id}}">
                                                Editar <i class="fas fa-edit"></i> </a>
                                            <a class="dropdown-item " href="#">
                                                <form
                                                    action="/comment/delete/{{../../topic._id}}/{{_id}}?_method=DELETE"
                                                    method="POST">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button class="btn btn-light" type="submit">Eliminar <i
                                                            class="fas fa-trash-alt"></i></button>
                                                </form>
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <p>{{comentario}}</p>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex  align-items-center bd-highlight">
                            <div class="p-2 mr-auto bd-highlight">
                                <span id="likes" data-id="{{_id}}">{{likes}}</span>
                                <button class="btn btn-light" id="btn-like" data-id="{{_id}}"
                                    data-topic="{{../../topic._id}}">
                                    <i class="fas fa-thumbs-up"></i>
                                </button>
                            </div>
                            <div class="p-2 mr-auto bd-highlight ">
                                <span id="dislikes" data-id="{{_id}}">{{dislikes}}</span>
                                <button class="btn btn-light" id="btn-dislike" data-id="{{_id}}"
                                    data-topic="{{../../topic._id}}">
                                    <i class="fas fa-thumbs-down "></i>
                                </button>
                            </div>

                            <div class="p-2 ml-auto bd-highlight ">
                                <i class="far fa-clock"></i>
                                {{timeago date}}
                            </div>

                        </div>
                    </div>
                </div>
            </li>

            {{/each}}
        </ul>
        <div class="card">
            <form action="/foro/new-comment/{{../topic._id}}/{{pri_comment._id}}" method="POST">
                <div class="form-group">
                    <textarea name="comentario" class="form-control" placeholder="Ingrese un comentario"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-secondary btn-success" type="submit">Comentar</button>
                </div>
            </form>
        </div>

    </div>

</div>
{{/each}}